.App-logo {
    height: 23vmin;
    pointer-events: none;
}

.App-title {
    /* background-color: #282c34;
    background:  linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../../img/cvbcvbvb.jpg');
    background-repeat:no-repeat;
    background-size:cover; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.general-title {
    font-size: calc(40px + 2vmin);
    margin: 4px;
}

.subtitle {
    font-size: calc(16px + 2vmin);
    margin: 4px;
}

.custom-bg {
    padding-top: 22vh;
    min-height: 100vh;
}